:root {
    --primary-color: #1B2438;
    --secondary-color: #41A5A2;
    --shadow-color: rgba(142, 161, 186, 0.25);
    --shadow-color-alt: rgba(142, 161, 186, 0.60);
    --font-family-main: 'Karla', sans-serif;
    --font-family-alt: 'Inter', sans-serif;
    --font-size-large: 2.5vw;
    --font-size-medium: 1.042vw;
    --font-size-small: 0.833vw;
    --line-height-large: 2.969vw;
    --line-height-medium: 1.563vw;
    --letter-spacing: 0.02vw;
    --border-radius: 0.521vw;
}