.profile__left-item {
    width: 8.29vw;
    height: 8.29vw;
    background: rgba(29, 36, 56, 0.75);
    box-shadow: 0vw 0vw 1.303vw 0.261vw rgba(6, 8, 13, 0.75);
    border-radius: 0.991vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1.981vw;
    padding-top: 0.574vw;
    padding-bottom: 0.834vw;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;

    .icon {
        width: initial;
        height: 4.4vw;
        user-select: none;
    }

    img {
        user-select: none;
        width: 100%;
        height: 100%;
    }

    p {
        font-size: 1.043vw;
        line-height: 1.147vw;
        letter-spacing: 0.013vw;
        color: #8093b2;
        margin-top: 0.574vw;
    }
}

.profile__left-item.donthave.active {
    background: rgba(26, 37, 58);
}

.profile__left-item.donthave.active>.icon {
    opacity: 0.55;
}

.profile__left-levels {
    .icon {
        width: initial;
        height: 5vw;
        user-select: none;
    }
}

.profile__left-item.speed {
    .icon {
        height: 3.4vw;
    }

    &::after {
        content: "";
        width: 0.73vw;
        height: 0.73vw;
        background: #869dc8;
        border-radius: 100%;
        top: 0.752vw;
        right: 0.7vw;
        position: absolute;
    }
}

.profile__left-item.deactivate::after {
    content: "";
    background: url(/img/lock-icon.svg) no-repeat center top / cover;
    width: 2.138vw;
    height: 2.45vw;
}

.profile__left-item.deactivate {
    padding: 2.3vw;
}

.profile__left-item.active {
    border: 0.104vw solid #869dc8;
    box-shadow: 0vw 0vw 0.313vw 0.104vw rgba(47, 196, 211, 0.75);

    &::before {
        content: "";
        background: url(/img/profile-item-active-icon.svg) no-repeat center top / cover;
        width: 1.043vw;
        height: 1.356vw;
        position: absolute;
        left: -1.3vw;
    }
}

.alert-popup {
    position: absolute;
    background: #1b2439;
    box-shadow: 0vw 0vw 0.991vw 0.156vw rgba(6, 8, 13, 0.75);
    border-radius: 1.095vw;
    padding: 1.773vw 2.346vw;
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 99999999;
    left: -13.929vw;

    p {
        font-size: 0.782vw;
        line-height: 1.303vw;
        letter-spacing: 0.01vw;
        color: #ffffff;
    }
}

.alert-popup.active {
    visibility: visible;
    opacity: 1;
    display: block;
}